<img class="pic" mat-image src="./../../assets/images/pic1.png" style="width:100px;height:100px;" class="center">

<mat-card class="example-card">
  <mat-tab-group dynamicHeight mat-align-tabs="center">
      <mat-tab label="Login">
        <div class="parent">
          <mat-card-header>
            <mat-card-title>Login</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form class="example-form">
              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                <td><mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
                </mat-form-field></td>
              </tr></table>
            </form>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary">Login</button>
          </mat-card-actions>
        </div>
      </mat-tab>
    <mat-tab label="Create an Account">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal data
            </mat-panel-title>
            <mat-panel-description>
              Tell us about yourself!
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput #firstName>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput #lastName>
          </mat-form-field>
      
          <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput #email>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput #newUsername>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput #newPassword>
          </mat-form-field>

          <!-- #docregion action-bar -->
          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
          <!-- #enddocregion action-bar -->
        </mat-expansion-panel>
      
      
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Survey
            </mat-panel-title>
            <mat-panel-description>
              Tell us why you're here!
              <mat-icon>date_range</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <section>
            <mat-label>Languages you know</mat-label>
            <div>
            <span><mat-checkbox>C</mat-checkbox></span>
            <span><mat-checkbox>C++</mat-checkbox></span>
            <mat-checkbox>C#</mat-checkbox>
            <mat-checkbox>Python</mat-checkbox>
            <mat-checkbox>Java</mat-checkbox>
            <mat-checkbox>Javascript</mat-checkbox>
            </div>
          </section>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="submit()">Submit</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</mat-card>