.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

  mat-card {
    max-width: 500px;
    display:block;
    justify-content: center;
    margin: auto;
  }
  .example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
  }

  mat-card-title.mat-card-title {
    padding-top: 20px;
  }

  .example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

button:hover {
  background-color: #797a7e;
}

.mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
  color: rgba(0,0,0,.87);
  background-color: #d8d3cd;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: #797a7e !important;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #797a7e !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: #797a7e !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #797a7e!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #797a7e;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#797a7e; 
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#797a7e;
  background-color:#797a7e;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#797a7e;
}