.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  mat-card {
    max-width: 300px;
    display:block;
    justify-content: center;
    margin: auto;
  }