h1 {
    color: #797a7e;
}

.box {
    display: flex;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }

 .image {
    width:100px;
    height:100px;
    vertical-align:middle
 }