.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }


.mat-form-field {
    margin-top: 40px;
}

.mat-button-toggle {
    margin-top: 20px;
}

.mat-checkbox, .mat-radio-button {
    padding-left: 10px;
    padding-right:10px;
}